spin_manifest_version = 2

[application]
name = "hello-world"
version = "0.1.0"

[[trigger.http]]
route = "/..."
component = "hello-world"

[component.hello-world]
source = "../../target/wasm32-wasip1/release/hello_world.wasm"
